@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Font
$font-sans  : 'Open Sans', sans-serif;
$f1         : $font-sans;

// Color
$black: #121212;
$green: #00CA99;
$green-2: #68C641;
$white: #F8F8F8;
