footer {
    padding: 15px;

    @media all and (min-width:992px) {
        padding: 50px;
    }

    .custom-logo-link {
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;

        @media all and (max-width:992px) {
            margin-bottom: 30px;
        }

        img {
            width: 270px;
            height: 90px;
            object-fit: contain;

            @media all and (max-width:992px) {
                width: 150px;
            }
        }
    }

    .row {

        section {
            margin: 0 50px 30px 0;
        }

        @media all and (min-width:992px) {
            justify-content: center;

            section {
                margin: 0px 55px;
            }
        }
    }
}