footer {
    padding: 50px;

    .custom-logo-link {
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;

        img {
            width: 270px;
            height: 90px;
            object-fit: contain;
        }
    }

    .row {
        justify-content: center;

        section {
            margin: 0px 55px;
        }
    }
}