.skip-link {
    position: absolute;
    opacity: 0;
}

.banner {
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
    }

    .banner-slider {
        &__item {
            margin-bottom: 0;
            height: 100vh;
        }

        .slick-dots {
            position: absolute;
            bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                button {
                    width: 10px;
                    height: 10px;
                    border: 1px solid $white;
                    background: none;
                    border-radius: 50%;
                }

                &.slick-active, &:hover {
                    button {
                        background: $white;
                    }
                }
            }
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 100px 0 150px;
            z-index: 2;
            background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,.75) 70%, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 100%);

            .col-md-5 {
                padding: 0 15px 0 30px;
            }
        }

        h2 {
            margin: 0;
        }

        .info {
            margin: 11px 0;
            display: flex;
            
            > * {
                margin-right: 32px;
            }

            img {
                width: 104px;
                object-fit: contain;
            }
        }

        .actions {
            margin-top: 50px;
            display: flex;
            align-items: center;

            a {
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                color: $green;

                img {
                    margin-right: 16px;
                }

                ion-icon {
                    color: $green;
                    margin-left: 5px;
                }

                &.main-btn {
                    margin-right: 47px;
                    color: $white;
                }
            }
        }

        
    }
}

.hot {

    .container {
        padding-bottom: 60px;
        border-bottom: 2px solid #000;
    }

    h2 {
        text-transform: uppercase;
        margin-top: 45px;
        margin-bottom: 27px;
    }

    .slick-list {
        margin: 0 -8px;
    }

    .slick-slide {
        padding: 0 8px;
    }

    .image {
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 25px;
            background: url( 'images/btn-bg.png' ) center center / 100%;
        }
    }

    h4 {
        @include set-line( 2, 25px );
        margin: 6px 0;
    }

    .info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            display: block;
            position: relative;

            &:not( :last-child ) {
                padding-right: 10px;
                margin-right: 10px;

                &:after {
                    content: '';
                    display: block;
                    height: 10px;
                    width: 1px;
                    background: #c4c4c4;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .slick-arrow {
        position: absolute;
        top: 40%;
        transform: translateY( -50% );

        ion-icon {
            font-size: 25px;
        }

        &.next {
            right: -55px;
        }

        &.prev {
            left: -55px;
        }
    }

    .tags {
        text-transform: uppercase;
        display: flex;
        margin-top: 6px;

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            margin-right: 9px;
            border-radius: 4px;
            background: $green;
            font-size: 12px;

            &:nth-child(2n) {
                background: $green-2;
            }
        }
    }
}

.actors-slider {

    .slick-list {
        margin: 0 -10px;
    }

    .slick-slide {
        padding: 0 10px;
    }

    .slick-arrow {
        position: absolute;
        z-index: 3;
        top: 45%;
        transform: translateY(-50%);

        ion-icon {
            font-size: 22px;
        }

        &.next {
            right: -20px;
        }

        &.prev {
            left: -20px;
        }
    }

    img {
        border-radius: 10px;
    }

    p {
        text-align: center;
        margin: 14px 0 0;
    }
}

.movie-soon-slider {
    .slick-arrow {
        top: 50%;
    }

    img {
        border-radius: 20px;
    }
}

.intro {
    background: #0E0E0E;
    border-bottom: 2px solid #000;

    .row {
        align-items: center;
        padding: 60px 0;
    }

    .custom-logo-link {
        img {
            width: 270px;
            height: 90px;
            object-fit: contain;
        }
    }

    p {
        margin: 13px 0px 80px;
    }

    .socials {
        display: flex;
        align-items: center;

        span {
            margin-right: 50px;
            color: $green;
        }

        a {
            margin-right: 30px;
        }
        
        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
    }
}